.MB-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1000;
	font-size: 20px;
	position: fixed;
	width: 100%;
	top: 0;

	.above {
		background: #1f2833;
		height: 64px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.left,
		.right {
			margin: 0 20px;
		}

		i {
			font-size: 30px;
			cursor: pointer;
		}

		.right {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 60%;
			max-width: 180px;

			img {
				width: 50px;
				height: 50px;
				border-radius: 1000px;
				object-fit: cover;
			}
		}
	}

	.under {
		background: rgba(0, 0, 0, 0.7);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.sign-btn {
			display: flex;
			justify-content: space-between;
			width: 70%;
			max-width: 220px;
			margin: 10px 0;

			button {
				border: none;
				outline: none;
				font-size: 20px;
				cursor: pointer;
				border-radius: 3px;
				padding: 3px 10px;
			}
		}

		nav {
			width: 100%;
			text-align: center;

			ul {
				li {
					a {
						text-decoration: none;
						color: #f9f9f9;
						padding: 10px 0;
						display: block;
					}
				}
			}
		}
	}

	.options {
		display: flex;
		flex-direction: column;
		background: rgba(0, 0, 0, 0.7);
		width: 100%;
		text-align: center;

		a,
		button {
			width: 100%;
			padding: 10px 0;
			font-size: 20px;
			border: none;
			outline: none;
			background: transparent;
			text-decoration: none;
			color: #f9f9f9;
		}

		a:hover,
		button:hover {
			background: #66fcf1;
			color: #000000;
		}
	}
}
