.notification {
    position: fixed;
    top: 70px;
    left: -9999px;
    width: 85%;
    max-width: 450px;
    font-size: 18px;
    z-index: 5000;
    padding: 10px 5px;
    text-align: center;
    border-radius: 5px;
    transition-property: left;
    transition-duration: 4s;
}

.notification.active {
    left: 10px;
    transition-property: left;
    transition-duration: 0.4s;
}

.notification__error {
    background: #FF3838;
}

.notification__success {
    background: #40FF22;
    color: #000000;
}

@media screen and (min-width: 450px) {
    .notification {
        font-size: 20px;
    }
}